
:host {
  display: block;
  background-color: #f9fafb;
}

.icon-container {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon-container.bg-blue-100 {
  background-color: #dbeafe;
}

.icon-container.text-blue-600 {
  color: #2563eb;
}

.icon-container.bg-green-100 {
  background-color: #d1fae5;
}

.icon-container.text-green-600 {
  color: #059669;
}

.icon-container.bg-yellow-100 {
  background-color: #fef3c7;
}

.icon-container.text-yellow-600 {
  color: #d97706;
}

.icon-container.bg-purple-100 {
  background-color: #ede9fe;
}

.icon-container.text-purple-600 {
  color: #7c3aed;
}